

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inner ul.nav {
	margin-right: 0px;
}
.row-fluid [class*="span"] {
	margin: 0px;
}

.isaw-hhead {
	text-align: left;
	padding-left: 1%;
}

.isaw-hcontent > .span4 {
	margin-left: 1%;
	margin-bottom: 1%;
}

.thumbnail {
	box-shadow: 2px 2px 1px #DDD;
}

.thumbnail:hover {
	border: 1px solid #AAA;
	box-shadow: 3px 3px 2px #777;
}

#logo {
	float: left;
	margin-right: 2%;
}

#exhibmeta {
	padding-right: 2%;
}

#exhibmeta p {
	text-align: justify;
}

#exhibmeta p.lead {
	text-align: left;
}

h3 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-style: italic;
	font-size: 120%;
}




